<%= provide(:title, "Home") %>
<div class = "container text-center">
  <h1 class="display-2" >Pocket Stage</h1>
  <p class = "lead" >Coming soon.</p>
  <div class="mx-auto w-50">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Enter your email to get info!"
                                              aria-label="Enter your email to get info!">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Sign up!</button>
      </span>
    </div>
  </div>
</div>
