/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 */
@import "bootstrap";

// Website Body

body {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.make-footer-sticky {
  flex: 1;
}

// Animations

// Homepage Animations

// .come-in {
//   transform: translateX(150px);
//   animation: come-in 0.8s ease forwards;
// }

// Navbar

nav .navbar-brand,
nav .nav-link {
  color: #CAECFA !important;
}

.dropdown-menu {
  background-color: #EDF8FD;
}

// Footer

.footer {
  margin-top: 320px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  border: 1px solid;
  clear: both;
  width: 100%;
  a {
    color: #CAECFA;
    &:hover {
      color: white;
    }
  }
  .title {
    color: #CAECFA !important;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

// Home page appearence

#home_jumbotron {
  background-image: url(home_banner.jpg);
  background-size: cover;
}

// Icons for picking user type

#user_type_graphics {
  position: relative;
  max-width: 100%;
  resize: both;
}

.ps_triangle {
  padding-top: 16rem;
  margin-right: auto;
  margin-left: auto;
  display: block;
  max-width: 100%;
  height: auto;
}

.audience_icon {
  position: absolute;
  right: 0;
  top: 80%;
  &:hover {
    width: 335px;
    height: auto;
  }
}

.artist_icon {
  position: absolute;
  top: 0;
  right: 35%;
  &:hover {
    width: 300px;
    height: auto;
  }
}

.venue_icon {
  position: absolute;
  width: 140px;
  right: 70%;
  top: 85%;
  margin-right: 10px;
  &:hover {
    width: 155px;
    height: auto;
  }
}

#home_page_spacer {
  height: 200px
}

// Screen size adjustments

@media (max-width: 768px ) {
  .venue_icon, .artist_icon, .audience_icon {
    position: inherit;
    float: left;
    height: auto;
    padding-left: 200ps;
  }

  .ps_triangle {
    @include sr-only;
  }

  #artist_search_nav {
    @include sr-only;
  }
}

// Sign up pages
