/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 */
@import "bootstrap";

// Header Adjusting

nav .navbar-brand,
nav .nav-link {
  color: #CAECFA;
}

// Home page appearence

#home_jumbotron {
  background-image: url(home_banner.jpg);
  background-size: cover;
}

// Icons for picking user type

.ps_triangle {
  position: relative;
  z-index: 10;

}

.audience_icon {
  position: absolute;
}

.artist_icon {
  position: absolute;
}

.venue_icon {
  position: absolute;
}
