/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 */
@import "bootstrap";

// Navbar

nav .navbar-brand,
nav .nav-link {
  color: #CAECFA !important;
}

.dropdown-menu {
  background-color: #EDF8FD;
}
// Home page appearence

#home_jumbotron {
  background-image: url(home_banner.jpg);
  background-size: cover;
}

// Icons for picking user type

#user_type_graphics {
  position: relative;
  max-width: 100%;
  resize: both;
}

.ps_triangle {
  padding-top: 16rem;
  margin-right: auto;
  margin-left: auto;
  display: block;
  max-width: 100%;
  height: auto;
}

.audience_icon {
  position: absolute;
  right: 0;
  top: 80%;
  &:hover {
    width: 335px;
    height: auto;
  }
}

.artist_icon {
  position: absolute;
  top: 0;
  right: 35%;
  &:hover {
    width: 305px;
    height: auto;
  }
}

.venue_icon {
  position: absolute;
  width: 150px;
  right: 70%;
  top: 90%;
  margin-right: 10px;
  &:hover {
    width: 170px;
    height: auto;
  }
}

// Screen size adjustments

@media (max-width: 768px ) {
  .venue_icon, .artist_icon, .audience_icon {
    position: inherit;
    float: left;
    height: auto;
    padding-left: 200ps;
  }

  .ps_triangle {
    @include sr-only;
  }

  #artist_search_nav {
    @include sr-only;;
  }
}
